<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	{% load media %}
    {% load google_analytics %}
    <link rel="stylesheet" href="{% media "css/reset.css" %}" type="text/css" />
	<link rel="stylesheet" href="{% media "css/base.css" %}" type="text/css" />
{#	<link rel="stylesheet" href="{% media "css/print.css" %}" type="text/css" media="print" />#}
	<!--[if IE]><link rel="stylesheet" type="text/css" href="{% media "css/base_ie.css" %}" /><![endif]-->
	<!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="{% media "css/base_ie6.css" %}" /><![endif]-->

	<script type="text/javascript" src="{% media "js/jquery-1.6.2.min.js" %}"></script>
	<script type="text/javascript" src="{% media "js/base.js" %}"></script>

    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">

	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />

    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">

	{% block extrastyle %}{% endblock %}
	{% block extrahead %}{% endblock %}

	<title>{%block title %}{% endblock %}</title>
</head>
<body class="{% block bodyclass %}{% endblock %}">
{% block body %}{% endblock %}

{% google_analytics_js %}

</body>
</html>
